In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
data = pd.read_csv("/Users/yuva3995/Desktop/DataScience/tested_worldwide.csv")

data

,Date,Country_Region,Province_State,positive,active,hospitalized,hospitalizedCurr,recovered,death,total_tested,daily_tested,daily_positive
0,2020-01-16,Iceland,All States,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-01-17,Iceland,All States,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
2,2020-01-18,Iceland,All States,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0
3,2020-01-20,South Korea,All States,1.0,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN
4,2020-01-22,United States,All States,0.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
27636,2020-11-09,Australia,Queensland,NaN,8.0,NaN,8.0,1163.0,6.0,1265567.0,0.0,NaN
27637,2020-11-09,Australia,South Australia,NaN,19.0,NaN,0.0,492.0,4.0,572618.0,0.0,NaN
27638,2020-11-09,Australia,Tasmania,NaN,0.0,NaN,0.0,217.0,13.0,120292.0,0.0,NaN
27639,2020-11-09,Australia,Victoria,NaN,4.0,NaN,2.0,19522.0,819.0,3299302.0,0.0,NaN
27640,2020-11-09,Australia,Western Australia,NaN,10.0,NaN,0.0,757.0,9.0,501428.0,0.0,NaN

In [5]:
data.head()

,Date,Country_Region,Province_State,positive,active,hospitalized,hospitalizedCurr,recovered,death,total_tested,daily_tested,daily_positive
0,2020-01-16,Iceland,All States,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-01-17,Iceland,All States,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
2,2020-01-18,Iceland,All States,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0
3,2020-01-20,South Korea,All States,1.0,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN
4,2020-01-22,United States,All States,0.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN

In [6]:
data.count

<bound method DataFrame.count of              Date Country_Region     Province_State  positive  active  \
0      2020-01-16        Iceland         All States       3.0     NaN
1      2020-01-17        Iceland         All States       4.0     NaN
2      2020-01-18        Iceland         All States       7.0     NaN
3      2020-01-20    South Korea         All States       1.0     NaN
4      2020-01-22  United States         All States       0.0     NaN
...           ...            ...                ...       ...     ...
27636  2020-11-09      Australia         Queensland       NaN     8.0
27637  2020-11-09      Australia    South Australia       NaN    19.0
27638  2020-11-09      Australia           Tasmania       NaN     0.0
27639  2020-11-09      Australia           Victoria       NaN     4.0
27640  2020-11-09      Australia  Western Australia       NaN    10.0

       hospitalized  hospitalizedCurr  recovered  death  total_tested  \
0               NaN               NaN        NaN    NaN           NaN
1               NaN               NaN        NaN    NaN           NaN
2               NaN               NaN        NaN    NaN           NaN
3               NaN               NaN        NaN    NaN           4.0
4               NaN               NaN        NaN    0.0           0.0
...             ...               ...        ...    ...           ...
27636           NaN               8.0     1163.0    6.0     1265567.0
27637           NaN               0.0      492.0    4.0      572618.0
27638           NaN               0.0      217.0   13.0      120292.0
27639           NaN               2.0    19522.0  819.0     3299302.0
27640           NaN               0.0      757.0    9.0      501428.0

       daily_tested  daily_positive
0               NaN             NaN
1               NaN             1.0
2               NaN             3.0
3               NaN             NaN
4               NaN             NaN
...             ...             ...
27636           0.0             NaN
27637           0.0             NaN
27638           0.0             NaN
27639           0.0             NaN
27640           0.0             NaN

[27641 rows x 12 columns]>

In [7]:
data.mean

<bound method NDFrame._add_numeric_operations.<locals>.mean of              Date Country_Region     Province_State  positive  active  \
0      2020-01-16        Iceland         All States       3.0     NaN
1      2020-01-17        Iceland         All States       4.0     NaN
2      2020-01-18        Iceland         All States       7.0     NaN
3      2020-01-20    South Korea         All States       1.0     NaN
4      2020-01-22  United States         All States       0.0     NaN
...           ...            ...                ...       ...     ...
27636  2020-11-09      Australia         Queensland       NaN     8.0
27637  2020-11-09      Australia    South Australia       NaN    19.0
27638  2020-11-09      Australia           Tasmania       NaN     0.0
27639  2020-11-09      Australia           Victoria       NaN     4.0
27640  2020-11-09      Australia  Western Australia       NaN    10.0

       hospitalized  hospitalizedCurr  recovered  death  total_tested  \
0               NaN               NaN        NaN    NaN           NaN
1               NaN               NaN        NaN    NaN           NaN
2               NaN               NaN        NaN    NaN           NaN
3               NaN               NaN        NaN    NaN           4.0
4               NaN               NaN        NaN    0.0           0.0
...             ...               ...        ...    ...           ...
27636           NaN               8.0     1163.0    6.0     1265567.0
27637           NaN               0.0      492.0    4.0      572618.0
27638           NaN               0.0      217.0   13.0      120292.0
27639           NaN               2.0    19522.0  819.0     3299302.0
27640           NaN               0.0      757.0    9.0      501428.0

       daily_tested  daily_positive
0               NaN             NaN
1               NaN             1.0
2               NaN             3.0
3               NaN             NaN
4               NaN             NaN
...             ...             ...
27636           0.0             NaN
27637           0.0             NaN
27638           0.0             NaN
27639           0.0             NaN
27640           0.0             NaN

[27641 rows x 12 columns]>

In [8]:
pwd

'/Users/yuva3995/Desktop/DataScience'

NameError: name 'data' is not defined